body{
font-family:Segoe UI;
background:#f3f0c8;
}

.container{
max-width:1000px;
margin:auto;
padding:40px;
}

.q{
background:white;
padding:15px;
margin-top:15px;
border-radius:10px;
}

.timer{
font-size:22px;
color:red;
font-weight:bold;
}

input,textarea{
width:100%;
margin-top:5px;
padding:6px;
}

button{
background:#2f6b3c;
color:white;
border:none;
padding:12px 20px;
border-radius:20px;
margin-top:20px;
}